.list {
    padding: 5px;
}

.item {
    background-color: rgb(224, 218, 133);
    outline: 1px solid gray;
    border-radius: 5%;
    margin: 0 auto;
}

.title {
    font-size: 12px;
}

.btn {
    float: right;
    transform: rotate(90deg);
    background: none;
    border: none;
    font-size: 15px;
}

.svg {
    width: 10px;
    height: 10px;
}